/*/Index.html Styling/*/

*{
    margin: 0;
}

nav {
    text-align:right;

}


nav a {
    margin: 16px;
    font-size: 20px;
    color: bisque;

}



header {
    text-align: center;
    position: relative;
    font-size: 80px;
    color: beige;
    font-family: "Shree Devanagari 714";
}

#videobox {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    position:absolute;


}
#header{
    position: relative;
}



.videobox {
}


.video {
    width: 100%;
    height: 100%;
}



.imagesize {
    height: 20px;
    width: 20px;
}






/*sheep page style start*/

@font-face {
    font-family: 'ralewayextralight';
    src: url('raleway-extralight-webfont.woff2') format('woff2'), url('raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'ralewayextralight';
}

#logo {
    height: 40px;
    padding-left: 20px;
}

#sheapheader {
    background-color: #c2c9d7;
}

nav a {
    font-family: 'ralewayextralight';
    color: black;
    text-decoration: none;
}

#shop-bag {
    height: 30px;
}

#sheepbg {
    background-color: #c2c9d7;
    margin: 0 auto;
    text-align: center;
}

#sheep-h1,
h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

#sheep1,
.sheep-insta {
    width: 100%;
    height: auto;
}

#right-icon {
    height: 20px;
}

#sheep-spec {
    height: 150px;
}

.cart-btn {
    background-color: orange;
    height: 30px;
}

select,
input,
.cart-btn {
    margin-bottom: 10px;
    height: 30px;
}

#input-cont {
    display: flex;
    flex-direction: column;
}

#price {
    margin: 0 100px 0 100px;
    text-align: justify;
}

#left-right-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-next-icon {
    transform: rotate(180deg);
}

#right-next-icon,
#left-next-icon {
    height: 50px;
}


/* video section start*/

#sheep-video-sect {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* inspiration section end*/

#sheep-inspo {
    display: block;
}

h2 {
    margin: 80px 0px 80px 20px;
}


/* video section start*/


/* inspiration section end*/

@media (max-width:600px) {
    header {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #sheepbg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "sim sim" "pr pr";
        grid-gap: 5px;
    }
    #sheepimg {
        grid-area: sim;
    }
    #price {
        grid-area: pr;
    }
}

@media (min-width:601px) {
    #logo {
        height: 60px;
    }
    #sheep-video-sect {
        padding-top: 50px;
        flex-direction: row;
    }
    header {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: " sim pr  ";
        grid-gap: 5px;
    }
    #sheepimg {
        grid-area: sim;
    }
    #price {
        grid-area: pr;
        margin: 0 100px 0 100px;
        text-align: justify;
    }
    header {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    nav {
        grid-column: -1/-3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #sheep-inspo {
        width: 100vw;
        display: grid;
        grid-template-columns: repeat( 6, 1fr);
        grid-template-areas: "fi si ti foi fii sxi";
        grid-gap: 5px;
    }
    #first-img {
        grid-area: fi;
    }
    #second-img {
        grid-area: si;
    }
    #third-img {
        grid-area: ti;
    }
    #fourth-img {
        grid-area: foi;
    }
    #fifth-img {
        grid-area: fii;
    }
    #sixth-img {
        grid-area: sxi;
    }
}


/*sheep page style end*/

/*designers page style begin*/
#blurb{
    grid-area: pr;
        margin: 0 100px 0 100px;
        text-align: justify;

}
#blurb-h1,
h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}
#designerimg{
    width: 100%;
    height: auto;
}
#philosophy-h1{
    font-size: 2em;
    margin-top: 1em;
}
.designerText{
    padding-top: .5em;
    padding-bottom: .5em;
}
#designerimg{
    padding: 1em;
}
