
                                                                                                            /*sheep page style start*/

                                                                                                        body {
                                                                                                            margin: 0;
                                                                                                            font-family: 'Raleway', sans-serif;
                                                                                                        }

                                                                                                        #logo {
                                                                                                            height: 40px;
                                                                                                            padding-left: 20px;
                                                                                                        }

                                                                                                        #sheapheader {
                                                                                                            background-color: #c2c9d7;
                                                                                                        }

                                                                                                        nav a {
                                                                                                            font-family: 'Raleway', sans-serif;
                                                                                                            color: black;
                                                                                                            text-decoration: none;
                                                                                                        }

                                                                                                        #shop-bag {
                                                                                                            height: 30px;
                                                                                                        }

                                                                                                        #sheepbg {
                                                                                                            background-color: #c2c9d7;
                                                                                                            margin: 0 auto;
                                                                                                            text-align: center;
                                                                                                        }

                                                                                                        #sheep-h1,
                                                                                                        h2 {
                                                                                                            font-size: 2em;
                                                                                                            margin-top: 0;
                                                                                                            margin-bottom: 0;
                                                                                                        }

                                                                                                        #sheep1,
                                                                                                        .sheep-insta {
                                                                                                            width: 100%;
                                                                                                            height: auto;
                                                                                                        }

                                                                                                        #right-icon {
                                                                                                            position: relative;
                                                                                                            height: 20px;
                                                                                                        }

                                                                                                        #sheep-spec {
                                                                                                            height: 150px;
                                                                                                        }

                                                                                                        .cart-btn {
                                                                                                            background-color: orange;
                                                                                                            height: 30px;
                                                                                                        }

                                                                                                        select,
                                                                                                        input,
                                                                                                        .cart-btn {
                                                                                                            margin-bottom: 10px;
                                                                                                            height: 30px;
                                                                                                        }

                                                                                                        #input-cont {
                                                                                                            display: flex;
                                                                                                            flex-direction: column;
                                                                                                            padding-top: 10px;
                                                                                                        }

                                                                                                        #price {
                                                                                                            margin: 0 100px 0 100px;
                                                                                                            text-align: justify;
                                                                                                        }

                                                                                                        #left-right-icons {
                                                                                                            display: flex;
                                                                                                            flex-direction: row;
                                                                                                            justify-content: space-between;
                                                                                                        }

                                                                                                        #left-next-icon {
                                                                                                            transform: rotate(180deg);
                                                                                                        }

                                                                                                        #left-next-icon {
                                                                                                            height: 50px;
                                                                                                        }

                                                                                                        .inspiration-text-cont {
                                                                                                            bottom: 50px;
                                                                                                        }

                                                                                                        .inspiration-text {
                                                                                                            padding-bottom: 80px;
                                                                                                        }

                                                                                                        .inspiration-cont {
                                                                                                            text-align: center;
                                                                                                            padding-top: 80px;
                                                                                                        }

                                                                                                        .insta-img {
                                                                                                            margin: 10px;
                                                                                                        }

                                                                                                        #insta-feed-cont {
                                                                                                            padding-top: 80px;
                                                                                                        }
                                                                                                        /* video section start*/

                                                                                                        h2 {
                                                                                                            margin: 80px 0px 80px 20px;
                                                                                                        }
                                                                                                        /* video section start*/
                                                                                                        /* inspiration section start*/

                                                                                                        #sheep-inspo {
                                                                                                            display: block;
                                                                                                        }
                                                                                                        /* inspiration section end*/
                                                                                                        /* footer start*/

                                                                                                        footer {
                                                                                                            height: 50vh;
                                                                                                            background-color: #bfbaad;
                                                                                                        }

                                                                                                        #designer-photo {
                                                                                                            height: 50%;
                                                                                                            width: auto;
                                                                                                        }
                                                                                                        /*footer end*/

                                                                                                        @media (max-width:600px) {
                                                                                                            header {
                                                                                                                padding-top: 20px;
                                                                                                                padding-bottom: 10px;
                                                                                                            }
                                                                                                            #sheepbg {
                                                                                                                display: grid;
                                                                                                                grid-template-columns: repeat(2, 1fr);
                                                                                                                grid-template-areas: "sim sim" "pr pr";
                                                                                                                grid-gap: 5px;
                                                                                                            }
                                                                                                            #sheepimg {
                                                                                                                grid-area: sim;
                                                                                                            }
                                                                                                            #price {
                                                                                                                grid-area: pr;
                                                                                                            }
                                                                                                            #designerbg {
                                                                                                                height: 100%;
                                                                                                                background-color: #c2c9d7;
                                                                                                                display: flex;
                                                                                                                flex-direction: column;
                                                                                                            }
                                                                                                            #blurb,
                                                                                                            #designer-photo {
                                                                                                                width: 100vw;
                                                                                                                height: auto;
                                                                                                            }
                                                                                                        }

                                                                                                        @media (min-width:601px) {
                                                                                                            #logo {
                                                                                                                height: 60px;
                                                                                                            }
                                                                                                            header {
                                                                                                                padding-top: 20px;
                                                                                                                padding-bottom: 10px;
                                                                                                            }
                                                                                                            #shop-bag {
                                                                                                                margin-right: 20px;
                                                                                                                margin-top: -10px;
                                                                                                            }
                                                                                                            #sheepbg {
                                                                                                                display: grid;
                                                                                                                grid-template-columns: repeat(2, 1fr);
                                                                                                                grid-template-areas: " sim pr";
                                                                                                                grid-gap: 5px;
                                                                                                            }
                                                                                                            #designerbg {
                                                                                                                height: 100vh;
                                                                                                                background-color: #c2c9d7;
                                                                                                                display: flex;
                                                                                                                flex-direction: row;
                                                                                                            }
                                                                                                            #blurb,
                                                                                                            #designer-photo {
                                                                                                                height: 50vh;
                                                                                                                width: 50vw;
                                                                                                                padding: 20px;
                                                                                                            }
                                                                                                            #sheepimg {
                                                                                                                grid-area: sim;
                                                                                                            }
                                                                                                            #price {
                                                                                                                grid-area: pr;
                                                                                                                margin: 0 100px 0 100px;
                                                                                                            }
                                                                                                            header {
                                                                                                                display: grid;
                                                                                                                grid-template-columns: repeat(5, 1fr);
                                                                                                            }
                                                                                                            nav {
                                                                                                                grid-column: -1/-3;
                                                                                                                display: flex;
                                                                                                                flex-direction: row;
                                                                                                                justify-content: space-between;
                                                                                                            }
                                                                                                            footer {
                                                                                                                display: grid;
                                                                                                                grid-template-columns: repeat(4, 1fr);
                                                                                                                grid-template-areas: "fo . .ft   ";
                                                                                                                grid-gap: 5px;
                                                                                                                margin-top: 80px;
                                                                                                                padding-top: 50px;
                                                                                                            }
                                                                                                            #foot-info1 {
                                                                                                                grid-area: fo;
                                                                                                            }
                                                                                                            #foot-info2 {
                                                                                                                grid-area: ft;
                                                                                                            }
                                                                                                            #sheep-video-sect {
                                                                                                                margin-top: 80px;
                                                                                                                display: flex;
                                                                                                                justify-content: space-around;
                                                                                                            }
                                                                                                            /*sheep page style end*/
                                                                                                            /*/Index.html Styling/*/
                                                                                                            * {
                                                                                                                margin: 0;
                                                                                                            }
                                                                                                            #navi {
                                                                                                                text-align: right;
                                                                                                            }
                                                                                                            #navi a {
                                                                                                                margin: 16px;
                                                                                                                font-size: 20px;
                                                                                                                color: bisque;
                                                                                                            }
                                                                                                            #video-container {
                                                                                                                position: relative;
                                                                                                            }
                                                                                                            #video {
                                                                                                                height: auto;
                                                                                                                vertical-align: middle;
                                                                                                                width: 100vw;
                                                                                                            }
                                                                                                            #index-logo-div {
                                                                                                                display: grid;
                                                                                                                grid-template-columns: 3fr 1fr;
                                                                                                                grid-gap: 50px;
                                                                                                                color: white;
                                                                                                                margin-left: 20px;
                                                                                                                margin-top: 20px;
                                                                                                            }
                                                                                                            #index-logo-div p {
                                                                                                                color: white;
                                                                                                                font-family: 'Raleway', sans-serif;
                                                                                                                font-weight: 500;
                                                                                                            }
                                                                                                            #index-logo-cont {
                                                                                                                height: 100px;
                                                                                                                width: 200px;
                                                                                                            }
                                                                                                            #index-logo {
                                                                                                                width: 100%;
                                                                                                            }
                                                                                                            #index-header {
                                                                                                                background: rgba(0, 0, 0, 0);
                                                                                                                position: absolute;
                                                                                                                top: 0;
                                                                                                                right: 0;
                                                                                                                left: 0;
                                                                                                                grid-template-columns: 1fr 1fr 1fr 1fr;
                                                                                                                display: grid;
                                                                                                            }
                                                                                                            #navi a {
                                                                                                                color: white;
                                                                                                                font-family: 'Raleway', sans-serif;
                                                                                                                font-weight: 500;
                                                                                                            }
                                                                                                            .imagesize {
                                                                                                                height: 20px;
                                                                                                                width: 20px;
                                                                                                            }
                                                                                                            /*/Index.html Desktop version/*/
                                                                                                            @media (min-width: 1071px) {}
                                                                                                            /*/Index.html Ipad version/*/
                                                                                                            @media (min-width: 601px) and (max-width: 1070px) {
                                                                                                                #index-header {
                                                                                                                    grid-template-columns: 1fr 1fr 1fr;
                                                                                                                }
                                                                                                                #index-logo-div p {
                                                                                                                    display: none;
                                                                                                                }
                                                                                                                #navi a {
                                                                                                                    font-size: 20px;
                                                                                                                }
                                                                                                            }
                                                                                                            /*/Index.html Mobile version/*/
                                                                                                            @media (max-width: 600px) {
                                                                                                                #video {
                                                                                                                    display: none;
                                                                                                                }
                                                                                                                #index-header {
                                                                                                                    background-image: url(imgs/background-mobile.jpg);
                                                                                                                    background-size: cover;
                                                                                                                    height: 100vh;
                                                                                                                }
                                                                                                                #index-header {
                                                                                                                    grid-template-columns: 1fr 1fr;
                                                                                                                    display: grid;
                                                                                                                }
                                                                                                                #navi {
                                                                                                                    margin-top: 60px;
                                                                                                                }
                                                                                                                #navi a {
                                                                                                                    display: block;
                                                                                                                }
                                                                                                                #index-logo-div p {
                                                                                                                    display: none;
                                                                                                                }
                                                                                                            }
                                                                                                            /*/Merging Camile's code/*/
                                                                                                            .box {
                                                                                                                width: 300px;
                                                                                                                height: 300px;
                                                                                                                box-sizing: border-box;
                                                                                                                display: table;
                                                                                                                margin: 0 auto;
                                                                                                            }
                                                                                                            .wrapper {
                                                                                                                display: grid;
                                                                                                                grid-template-columns: 1fr 1fr 1fr 1fr;
                                                                                                                grid-gap: 30px;
                                                                                                                justify-content: center;
                                                                                                            }
                                                                                                            .lola {
                                                                                                                height: 200px;
                                                                                                                width: 200px;
                                                                                                                margin-top: 45px;
                                                                                                            }
                                                                                                            .lolb {
                                                                                                                height: 290px;
                                                                                                                width: 110px;
                                                                                                            }
                                                                                                            .lolc {
                                                                                                                height: 200px;
                                                                                                                width: 200px;
                                                                                                                margin-top: 45px;
                                                                                                            }
                                                                                                            .lold {
                                                                                                                height: 260px;
                                                                                                                width: 200px;
                                                                                                            }
                                                                                                            .lole {
                                                                                                                height: 100px;
                                                                                                                width: 100px;
                                                                                                                margin-top: 75px;
                                                                                                            }
                                                                                                            .lolf {
                                                                                                                height: 280px;
                                                                                                                width: 200px;
                                                                                                            }
                                                                                                            .lolg {
                                                                                                                height: 290px;
                                                                                                                width: 110px;
                                                                                                            }
                                                                                                            .lolh {
                                                                                                                height: 280px;
                                                                                                                width: 200px;
                                                                                                                margin-top: 10px;
                                                                                                            }
                                                                                                            .loli {
                                                                                                                height: 300px;
                                                                                                                width: 240px;
                                                                                                            }
                                                                                                            #update {
                                                                                                                margin-top: 80px;
                                                                                                                text-align: center;
                                                                                                            }
                                                                                                            /*designers page style begin*/
                                                                                                            /*#blurb {
                        grid-area: pr;
                        margin: 0 100px 0 100px;
                        text-align: justify;
                    }
                    #blurb-h1,
                    h2 {
                        font-size: 2em;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                    #designerimg {
                        width: 100%;
                        height: auto;
                    }
                    #philosophy-h1 {
                        font-size: 2em;
                        margin-top: 1em;
                    }
                    .designerText {
                        padding-top: .5em;
                        padding-bottom: .5em;
                    }
                    #designerimg {
                        padding: 1em;
                    }*/
=======
/*sheep page style start*/

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#logo {
    height: 40px;
    padding-left: 20px;
}

#sheapheader {
    background-color: #c2c9d7;
}

nav a {
    font-family: 'Raleway', sans-serif;
    color: black;
    text-decoration: none;
}

#shop-bag {
    height: 30px;
}

#sheepbg {
    background-color: #c2c9d7;
    margin: 0 auto;
    text-align: center;
}

#sheep-h1,
h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

#sheep1,
.sheep-insta {
    width: 100%;
    height: auto;
}

#right-icon {
    position: relative;
    height: 20px;
}

#sheep-spec {
    height: 150px;
}

.cart-btn {
    background-color: orange;
    height: 30px;
}

select,
input,
.cart-btn {
    margin-bottom: 10px;
    height: 30px;
}

#input-cont {
    display: flex;
    flex-direction: column;
}

#price {
    margin: 0 100px 0 100px;
    text-align: justify;
}

#left-right-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-next-icon {
    transform: rotate(180deg);
}

#right-next-icon,
#left-next-icon {
    height: 50px;
}


/* video section start*/

#sheep-video-sect {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h2 {
    margin: 80px 0px 80px 20px;
}


/* video section start*/


/* inspiration section start*/

#sheep-inspo {
    display: block;
}


/* inspiration section end*/


/* footer start*/

footer {
    height: 50vh;
    background-color: #bfbaad;
}


/*footer end*/

@media (max-width:600px) {
    header {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #sheepbg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "sim sim" "pr pr";
        grid-gap: 5px;
    }
    #sheepimg {
        grid-area: sim;
    }
    #price {
        grid-area: pr;
    }
}

@media (min-width:601px) {
    #logo {
        height: 60px;
    }
    #sheep-video-sect {
        display: flex;
        flex-direction: row;
    }
    header {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #sheepbg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: " sim pr  ";
        grid-gap: 5px;
    }
    #sheepimg {
        grid-area: sim;
    }
    #price {
        grid-area: pr;
        margin: 0 100px 0 100px;
        text-align: justify;
    }
    header {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    nav {
        grid-column: -1/-3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #insta-feed-cont {
        display: flex;
        flex-direction: row;
    }
    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "fo . .ft   ";
        grid-gap: 5px;
    }
    #foot-info1 {
        grid-area: fo;
    }
    #foot-info2 {
        grid-area: ft;
    }
}

 .nav-other a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    text-align: right;
}

.nav-other a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    bottom: 40px;
    left: 0;
    background-color: black;
    visibility: visible;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    transform-origin: left;
}

.nav-other a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/*sheep page style end*/


/*/Index.html Styling/*/

* {
    margin: 0;
}

#navi a {
    margin: 16px;
    font-size: 20px;
}

#video-container {
    position: relative;
}

#video {
    height: auto;
    vertical-align: middle;
    width: 100vw;
}

#index-logo-div {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 50px;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

#index-logo-div p {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

#index-logo-cont {
    height: 100px;
    width: 200px;
}

#index-logo {
    width: 100%;
}

#index-header {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
}

#navi a {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.imagesize {
    height: 20px;
    width: 20px;
}

#p-cont {
    margin: 30px 0 0 15px;
}

#p-cont p {
    font-size: 40px;
}

.box p {
    margin-top: 30px;
    font-size: 20px;
}

.box {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#box1,
#box2,
#box3,
#box4,
#box5,
#box6,
#box7,
#box8,
#box9 {
    transition: 0.2s ease-in;
}

#box1:hover {
    background-color: #beb9ad
}

#box2:hover {
    background-color: #B5BAAE
}

#box3:hover {
    background-color: #e1cad0
}

#box4:hover {
    background-color: #c2c9d7
}

#box5:hover {
    background-color: #cacbcc
}

#box6:hover {
    background-color: #beb9ad
}

#box7:hover {
    background-color: #cacbcc
}

#box8:hover {
    background-color: #c2c9d7
}

#box9:hover {
    background-color: #e1cad0
}


/*/Index.html Desktop version/*/

@media (min-width: 1071px) {

    #update {
    margin-top: 80px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

 #navi a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    text-align: right;
}

#navi a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    bottom: 55px;
    left: 0;
    background-color: white;
    visibility: visible;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    transform-origin: left;
}

#navi a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

}


/*/Index.html Ipad version/*/

@media (min-width: 601px) and (max-width: 1070px) {
    #index-header {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #index-logo-div p {
        display: none;
    }
    #navi {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #navi a {
        font-size: 15px;
    }

    #navi a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    text-align: right;
}

#navi a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    bottom: 65px;
    left: 0;
    background-color: white;
    visibility: visible;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    transform-origin: left;
}

#navi a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


    #update {
    margin-top: 80px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}


/*/Index.html Mobile version/*/

@media (max-width: 600px) {
    #video {
        display: none;
    }
    #index-header {
        background-image: url(imgs/background-mobile.jpg);
        background-size: cover;
        height: 100vh;
    }
    #index-header {
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
    #index-logo-div {
        grid-gap: 0px;
    }
    #navi {
        margin-top: 60px;
    }
    #navi a {
        text-align: right;
        display: block;
        margin-right: 25px;
    }
    #index-logo-div p {
        display: none;
    }

    #update {
        display: none;
    }

    #p-cont{
        display: none;
    }
}


/*/Merging Camile's code/*/

.lola {
    height: 200px;
    width: 200px;
    margin-top: 45px;
}

.lolb {
    height: 290px;
    width: 110px;
}

.lolc {
    height: 200px;
    width: 200px;
    margin-top: 45px;
}

.lold {
    height: 260px;
    width: 200px;
}

.lole {
    height: 100px;
    width: 100px;
    margin-top: 75px;
}

.lolf {
    height: 280px;
    width: 200px;
}

.lolg {
    height: 290px;
    width: 110px;
}

.lolh {
    height: 280px;
    width: 200px;
    margin-top: 10px;
}

.loli {
    height: 300px;
    width: 240px;
}


/*designers page style begin*/

#blurb {
    grid-area: pr;
    margin: 0 100px 0 100px;
    text-align: justify;
}

#blurb-h1,
h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

#designerimg {
    width: 100%;
    height: auto;
}

#philosophy-h1 {
    font-size: 2em;
    margin-top: 1em;
}

.designerText {
    padding-top: .5em;
    padding-bottom: .5em;
}

#designerimg {
    padding: 1em;
}

